.category-container {
    background-color: rgb(255, 249, 227);
    width: 100vw;
    height: 100vh;
}


.kreon-font{
    font-family: 'Kreon', serif;
}

.healthy-lottie{
    width: 5rem;
    height: 5rem;
    transform: translate3d(57rem, 30px, 0px);
    content-visibility: visible;
}

.healthy-card-image {
    background-image: url("../../Assets/Images/card2.png");
    background-size: cover;
    background-position: center;
}