@import url('https://fonts.googleapis.com/css2?family=Kreon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.main-container {
    background-image: url("../../Assets/Images/background3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.pacifico{
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
}

.dancing-script{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
}

.lottie{
    width: 20rem;
    height: 26rem;
    transform: translate3d(-40px, 10px, 0px);
    content-visibility: visible;
}

@media screen and (min-width: 1440) {
    .lottie{
        transform: translate3d(-40px, 10px, 0px);
        content-visibility: visible;
    }
}