.card-style {
    background: linear-gradient(145.63deg, rgba(134, 134, 134, 0.4) -87.29%, rgba(201, 201, 201, 0) 167.05%, rgba(252, 252, 252, 0.128) 167.05%);
    backdrop-filter: blur(50px);
    /* Note: backdrop-filter has minimal browser support */
}

.modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 1; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 80px; /* Location of the content container */
}

/* Modal content */
.modal-content {
    background-color: white;
    width: 100%; /* Width in proportion to its parent container*/
    max-width: 840px; /* Max width where it stops expanding */
    height: 40%; /* Height in proportion to its parent container */
    margin: auto; /* Auto margin according to the element width */
    padding: 10px;
    border-radius: 5px; /* Optional. Rounds container corners */
}

.close {
    color: #aaaaaa;
    float: right; /* Positioned to the right of the parent container whichever size it is */
    font-size: 25px;
    font-weight: bold;
 }
 .close:hover, 
 .close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
 }
