.card-style {
    background: linear-gradient(145.63deg, rgba(134, 134, 134, 0.4) -87.29%, rgba(201, 201, 201, 0) 167.05%, rgba(252, 252, 252, 0.128) 167.05%);
    backdrop-filter: blur(50px);
    /* Note: backdrop-filter has minimal browser support */
}

.side-nav-container{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.08) 0%, rgba(196, 196, 196, 0) 100%);
    backdrop-filter: blur(50px);
}

.modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 1; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 90px; /* Location of the content container */
}
